body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'TT Norms Pro Normal', sans-serif;
    background-color: rgba(169, 160, 153, 1);
    overflow-x: hidden;
    width: 100%;
    height: min-content;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  ul {
    display: flex;
  }


/*animation txt element*/
.waviy {
    display: flex;
    justify-content: center;
  position: relative;
  font-size:20vw;
}
.waviy span {
    font-family: "InterRegular"; 
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 5s infinite;
  animation-delay: calc(.1s * var(--i));
  
}



.line1 {
    top: 30vw;
    margin-left: -1vw;
    z-index: 2;
    position: absolute;
    width: 101vw;
 }

.header {
    position: relative;
    top: -20vw;
}

  .scroll_bg {
    display: block;
    width: 100%;
 position: relative;
 top: 27vw;
    white-space: nowrap;
    overflow: hidden;
  }
  .img {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 12.7s infinite linear;
    -moz-animation: scroll 12.7s infinite linear;
    animation: scroll 12.7s infinite linear;
    background-image: url(../images/Rectangle\ 1.svg);
    background-size: 100vw;
    width: 100vw;
    height: 34.5vw;
    margin-left: -1vw;
  }


  .scroll_bg2 {
    position: relative;
    top: 1.8vw;
    display: block;
    width: 100%;
 
    white-space: nowrap;
    overflow: hidden;
  }
  .img2 {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 13s infinite linear;
    -moz-animation: scroll 13s infinite linear;
    animation: scroll 13s infinite linear;
    background-image: url(../images/Rectangle\ 2.svg);
    background-size: 100vw;
    width: 100vw;
    height: 25vw;
    margin-left: -1vw;
  }



















  
  .marquee-container{
    display: flex;
    align-items: center;
    
    overflow: hidden;
}
.marquee{
    font-size: 5vw;
    line-height: 1.3;
    font-family: "InterRegularItalic";
    padding: 0px 0;
    color: #fff;
    white-space: nowrap;
    animation: marquee 16s infinite linear; /* notice the infinite */
}
.marquee:after{
    content: "ПОЧУВСТВУЙ ПРИРОДНЫЙ УЮТ  ПОЧУВСТВУЙ ПРИРОДНЫЙ УЮТ ПОЧУВСТВУЙ";
}





 .block-kran {
    margin-top: -16vw;
 }


 .kran-karkas {
    margin-top: 5vw;
    left: 48vw;
    position: absolute;
     width: 45vw;
 }
 .line_kran {
position: absolute;
    background-color: white;
    height: 11vw;
    width: 1.2vw;
    top: 14vw;
    left: -16vw;
    position: relative;


    animation-name: circle-to-square;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
 }


 #el2 {
  position: absolute;
    width: 10.7vw;
    position: relative;
    left: -20.8vw;
    top: 13vw;
 }





 .block-kran-flex {
    display: flex;
 } 
 .ramka-div {
   padding: 1vw;
    z-index: 1;
    top: 5vw;
position: relative;
    background-color: rgba(234, 230, 227, 1);
    width: 30vw;
height: 30vw;
}

.cub1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
    width: 30vw;
    height: 30vw;
    box-sizing: border-box;
    border: 1.5vw solid rgb(105, 97, 90);

    animation:.9s borderColorChange2 0.9s steps(2) alternate infinite;

    
}



.cub1_mini {
    animation-delay: 0s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26vw;
    height: 26vw;
    box-sizing: border-box;
    border: 0.8vw solid rgb(105, 97, 90);
    animation:.9s  borderColorChange2 .9s steps(2) alternate infinite;
}

.cub2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
    width: 22vw;
    height: 22vw;
    box-sizing: border-box;
    border: 1.3vw solid rgb(105, 97, 90);
   
    animation:.9s borderColorChange2 .9s steps(3) alternate infinite ;
}
.cub1_mini2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
    width: 18vw;
    height: 18vw;
    box-sizing: border-box;
    border: 0.5vw solid rgb(105, 97, 90);

    animation:.9s borderColorChange2 .9s steps(4) alternate infinite ;
}

.cub3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
    width: 15vw;
    height: 15vw;
    box-sizing: border-box;
    border: 1.2vw solid rgb(105, 97, 90);
    animation:.9s borderColorChange2 .9s steps(5) alternate infinite ;
}
.cub3_mini3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
    width: 12vw;
    height: 12vw;
    box-sizing: border-box;
    border: 0.3vw solid rgb(105, 97, 90);
    animation: .9s borderColorChange2 .9s steps(6) alternate infinite ;
}

  .cub4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
    width: 10vw;
    height: 10vw;
    box-sizing: border-box;
    border: 1vw solid rgb(105, 97, 90);
    animation: .9s borderColorChange2 .9s steps(7) alternate infinite  ;
  }
  .cub4_mini4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
    width: 7.5vw;
    height: 7.5vw;
    box-sizing: border-box;
    border: 0.2vw solid rgb(105, 97, 90);
    animation: .9s borderColorChange2 .9s steps(8) alternate infinite;
}

.ramka2 {
  position: relative;
  top: 5vw;
width: 32vw;
height: 32vw;
    background-image: url(../images/a4.svg);
   
    transition: 0.5s;
    background-size: cover;
}
.ramka2:hover {
  background-image: url(../images/a5.svg);
   
}

.flex2{
  position: relative;
  display: flex;
}

.ramka3 {
  position: relative;
  top: 5vw;

width: 32vw;
height: 32vw;
background-image: url(../images/b1.svg);
background-size: cover;
}
.krug1{
  width: 15.5vw;
  position: relative;
  top: 15vw;
  left: 5vw;
  animation:10s mercury infinite linear;
  transform-origin:11.417vw 0.260vw;


  box-sizing: border-box;
border: 0.2vw solid rgb(255, 255, 255);
background: rgb(177, 92, 35);
width: 7vw;
height: 7vw;
border-radius: 100%;
}
.krug2{
  width: 15.5vw;
  position: absolute;
  top: 15vw;
  left: 5vw;
  animation:10s mercury infinite linear;
  transform-origin:12.2vw 0.3vw;
  animation-delay: 1.2s;

  box-sizing: border-box;
border: 0.2vw solid rgb(255, 255, 255);
background: rgb(177, 92, 35);
width: 6vw;
height: 6vw;
border-radius: 100%;
}
.krug3{
  display: block;
  width: 15.5vw;
  position: absolute;
  top: 15vw;
  left: 5vw;
  animation:10s mercury infinite linear;
  transform-origin:11.5vw 0.1vw;
  animation-delay: 2.2s;

  box-sizing: border-box;
border: 0.2vw solid rgb(255, 255, 255);
background: rgb(177, 92, 35);
width: 4.7vw;
height: 4.7vw;
border-radius: 100%;
}


.i1 {
width: 23vw;
left: 4.5vw;
top: 5vw;
}
.i2 {
  width: 18.5vw;
  left: 6.7vw;
  top: 7vw;
}
.i3 {
  width: 15vw;
  left: 8.5vw;
  top: 8.5vw;
}
.ramka4 {
  width: 32vw;
  height: 32vw;
  position: relative;
  background: rgb(105, 97, 90);
  top: 5vw;
}
.item {
  position: absolute;
  animation: show 3s linear 0s infinite;
}
.items .item:nth-child(1) {
  animation-delay: 0.1s;
}
.items .item:nth-child(2) {
  animation-delay: 0.5s;
}
.items .item:nth-child(3) {
  animation-delay: 0.9s;
}


@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tr {
 
  position: absolute;
  z-index: 3;
  width: 23vw;
  left: 4.5vw;
  margin-top: 16vw;
}

.ramka5 {
  position: absolute;
  top: 139.4vw;
  left: 32vw;
width: 32vw;
height: 32vw;
    background-image: url(../images/ramka5bg.svg);
   
    transition: 0.5s;
    background-size: cover;
}
.ramka5:hover {
  background-image: url(../images/ramka5txt.svg);
   
}

.ramka6{
  display: flex;
  position: relative;
  
  top: -27vw;
  width: 36vw;
  left: 64vw;
  height: 32vw;
  background-color: rgba(177, 92, 35, 1);
  
}

.el-all {
  line-height: 5.3vw;
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
width: max-content;
font-family: "InterBlack";
  font-weight: 900;
  font-size: 4.7vw;
}
.el {
  animation: blink 5s linear infinite;
}
.el:nth-child(1) { animation-delay: 1s; }
.el:nth-child(2) { animation-delay: 18s; } 
.el:nth-child(3) { animation-delay: 14s; } 
.el:nth-child(4) { animation-delay: 3s; } 
.el:nth-child(5) { animation-delay: 9s; } 
.el:nth-child(6) { animation-delay: 7s; } 
.el:nth-child(7) { animation-delay: 5s; } 
.el:nth-child(8) { animation-delay: 11s; } 
.el:nth-child(9) { animation-delay: 8s; } 
.el:nth-child(10) { animation-delay: 15s; } 
.el:nth-child(11) { animation-delay: 4s; } 
.el:nth-child(12) { animation-delay: 6s; } 
.el:nth-child(13) { animation-delay: 17s; } 
.el:nth-child(14) { animation-delay: 12s; } 
.el:nth-child(15) { animation-delay: 16s; } 
.el:nth-child(16) { animation-delay: 10s; } 
.el:nth-child(17) { animation-delay: 13s; } 
.el:nth-child(18) { animation-delay: 2s; } 





@keyframes blink {
  0%, 20% {
    color: rgba(255, 255, 255, 0.6);
  }
  10% {
    color: white;
  }
}


.cont1 {
  z-index: 2;
  padding: 1vw;
  display: flex;
  justify-content: center;
  background: rgb(105, 97, 90);
  width: 45vw;
height: 25vw;
}
.cont_1ramka {
  display: flex;
  text-align: center;
  align-items: center;
 padding: 5vw 2.5vw;
  box-sizing: border-box;
border: 3px solid rgb(255, 255, 255);
}
.txt-cont1 {
  width: 39.18495297805643vw;
  font-family: "InterThin";
  color: rgb(255, 255, 255);
  font-size:2.8213166144200628vw;
}
.hover_cont1 {
  font-family: "InterRegular";
  font-weight: 900;
}

.hover_cont2:hover {
  
  font-family: "InterRegular";
  font-weight: 900;
}
.block2 {
  display: flex;
  position: relative;
  top: -20vw;
}
.block2_veric {
  display: flex;
  flex-direction: column;
}



.box {
  z-index: 1;
  position: absolute;
  top: 20vw;
  left: 23vw;
  transform: translate(-50%, -50%);
}
 .box .arrow {
  display: block;
  width: 30vw;
  height: 33vw;
  border-bottom: 1.1vw solid #ffffff;
  border-right: 1.1vw solid #ffffff;
  
  transform: rotate(225deg);
  margin: -30vw 0vw;
  animation: animate 2s infinite;
}
 .box .arrow:nth-child(1) {
  animation-delay: -0.2s;
}
 .box .arrow:nth-child(2) {
  animation-delay: -0.4s;
}
 .box .arrow:nth-child(3) {
  animation-delay: -0.6s;
}
.box .arrow:nth-child(4) {
  animation-delay: -0.8s;
}
.box .arrow:nth-child(5) {
  animation-delay: -1s;
}
.box .arrow:nth-child(6) {
  animation-delay: -1.2;
}
.box .arrow:nth-child(7) {
  animation-delay: -1.4s;
}






.cont2 {
  position: relative;
  top: 10vw;
 
  width: 54vw;
  height: 50vw;


}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(225deg) ;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(225deg);
  }
}

.box_gora {
  width: 48vw;
  left: -0.5vw;
  position: relative;
  z-index: 2;
  top: 14.5vw;
}

.line {
  margin-top: -10vw;
  z-index: 2;
  position: absolute;
  background: rgb(169, 160, 153);
  width: 54.5vw;
  height: 5vw;
}
.line2 {
  margin-top: 14vw;
  z-index: 2;
  position: absolute;
  background: rgb(169, 160, 153);
  width: 54.5vw;
  height: 10vw;
}
.vulkan {
  margin-left: 3vw;
}
.img_vulkan {
  width: 42.05vw;

  animation-duration: 5s;
}
.img_vulkanhover {
   opacity: 0;
  width: 32.05vw;
left: 57.5vw;
  position: absolute;
  
}
.vector {
  left: 57vw;
  position: absolute;
  background-image: url(../images/vulkansvg.svg);
  background-size: cover;
  width: 31.05vw;
  height: 67.85vw;

  animation-name: circle-to-squar;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes circle-to-squar {
  from {
    width: 33.06vw;
    height: 0vw;
  }

  to {
    width: 33.05vw;
    height: 67.85vw;
  }
}

.mtxt {
  top: 32vw;
  font-size: 6.5vw;
  font-family: "InterRegularItalic";
  transform: rotate(-90.00deg);
  z-index: 3;
  position: absolute;
  color: rgb(255, 255, 255);
  left: 61.7vw;
}
.mtxt:hover {
  font-family: "ExtraLightItalic";
  left: 63vw;
}



.marquee-container2{
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  margin-top: -26vw;
  overflow: hidden;
}
.marquee2{
  font-size: 7vw;
  line-height: 1.3;
  font-family: "InterRegularItalic";
  padding: 0px 0;
  color: #fff;
  white-space: nowrap;
  animation: marquee 16s infinite linear; /* notice the infinite */
}
.marquee2:after{
  content: "ПОЧУВСТВУЙ ПРИРОДНЫЙ УЮТ  ПОЧУВСТВУЙ ПРИРОДНЫЙ УЮТ ПОЧУВСТВУЙ";
}



